@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-medium {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.aside {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 2rem 1.5rem;
}

.aside-item {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 10rem;
}

.aside-title {
    rotate: 90deg;
    white-space: nowrap;
    display: block;
}

.aside-item svg {
    width: 100%;
    flex-shrink: 0;
}

.inactive svg {
    background-color: #000;
    border: #000 2px solid;
    border-radius: 999px;
}

.inactive svg {
    fill: #fff;
}

.active {
    color: #0077b6;
}

.active svg {
    fill: #0077b6;
}

.main {
    width: 100%;
    padding: 2rem;
    border-radius: 40px;
    background: #EDF2FB;
    box-shadow:
        10px 10px 20px rgba(201, 206, 213, 0.6), /* Softer and larger shadow */
        -10px -10px 20px rgba(255, 255, 255, 0.9); /* Light highlight */
}

body {
    background-color: #EDF2FB;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h4 {
    font-weight: normal;
    font-size: 15px;
}

.statistics-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.statistics {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.statistics-item {
    border-radius: 25px;
    background: #EDF2FB; /* Soft background color */
    box-shadow:
        5px 5px 10px rgba(185, 189, 196, 0.5), /* Soft shadow */
        -5px -5px 10px rgba(255, 255, 255, 0.9); /* Light highlight */
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 5rem;
}

.statistics-item svg {
    fill: #0077b6;
    height: 100%;
    width: auto;
}

.statistics-text * {
    margin: 0;
    padding: 0;
}

.statistics-text h3 {
    font-size: 3.5rem;
}

.statistics-text h5 {
    font-weight: lighter;
    font-style: italic;
}

.employees-container {
    margin-top: 5rem;
}

.search-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #b8b8b8,
    -5px -5px 10px #ffffff; /* Neumorphic shadow */
    background-color: #EDF2FB;
}

.log-container {
    background: transparent; /* Background of the container */
    border-radius: 20px; /* Rounded corners */
    padding: 20px;
    width: 300px; /* Width of the log container */
    box-shadow:
            inset 6px 6px 12px rgba(185, 189, 196, 0.5), /* Inset shadow */
            inset -6px -6px 12px rgba(255, 255, 255, 0.9); /* Inset highlight */
}

.log-message {
    background: transparent; /* Background of each log message */
    border-radius: 10px; /* Rounded corners for log messages */
    padding: 10px;
    margin: 10px 0; /* Space between log messages */
    box-shadow:
            3px 3px 6px rgba(185, 189, 196, 0.5), /* Regular shadow */
            -3px -3px 6px rgba(255, 255, 255, 0.9); /* Regular highlight */
    color: #333; /* Text color for logs */
}

.search {
    position: relative;
    margin: 0;
    padding: 0;
}

.search input {
    border: none;
    outline: none;
    padding: 12px 40px 12px 40px; /* Add padding for the icon */
    border-radius: 25px;
    width: 300px;
    font-size: 16px;
    background: transparent; /* Make background transparent */
    color: #333; /* Text color */
    box-shadow: inset 4px 4px 8px rgba(185, 189, 196, 0.5),
    inset -4px -4px 8px rgba(255, 255, 255, 0.9);
}

.search input::placeholder {
    color: #808080;
}

.search label {
    position: absolute;
    width: 15px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.search label svg {
    fill: #0077b6;
}

.filter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter .option-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-option {
    padding: 7px 20px;
    border: 2px #0077b6 solid;
    border-radius: 25px;
    color: #0077b6;
    background-color: transparent;
    font-size: 16px;
    box-shadow:
        6px 6px 12px rgba(185, 189, 196, 0.5), /* Soft shadow */
        -6px -6px 12px rgba(255, 255, 255, 0.9); /* Light highlight */
}

.filter h4 {
    margin: 0;
    padding: 7px 20px;
    border: unset;
    border-radius: 25px;
    background-color: transparent;
    font-size: 16px;
    box-shadow:
            6px 6px 12px rgba(185, 189, 196, 0.5), /* Soft shadow */
            -6px -6px 12px rgba(255, 255, 255, 0.9); /* Light highlight */
}

.employees-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.employee-card {
    border-radius: 25px;
    display: flex;
    gap: 0.5rem;
    align-items: start;
    box-shadow:
            5px 5px 10px rgba(185, 189, 196, 0.5), /* Soft shadow */
            -5px -5px 10px rgba(255, 255, 255, 0.9); /* Light highlight */
    padding: 1.5rem;
}

.employee-card img {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

p {
    margin: 0;
    padding: 0;
}

.card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info-line hr {
    margin: 0;
    padding: 0;
    width: 50px;
    border: unset;
    border-top: 2px #0077b6 dotted;
}

.info-line .label {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    color: #0077b6;
}

.info-line svg {
    width: 15px;
    fill: #0077b6;
}
